<header class="header-container">
  <div class="header-left">
    <a class="logo" routerLink="/">
      <span class="logo-text">E-Shop</span>
    </a>
  </div>
  <nav class="header-nav">
    <ul>
      <li><button type="button" (click)="navigateTo('/')">Home</button></li>
      <li>
        <button type="button" (click)="navigateTo('/categories')">
          Categories
        </button>
      </li>
      <li>
        <button type="button" (click)="navigateTo('/products')">
          Products
        </button>
      </li>
      <li>
        <button type="button" (click)="navigateTo('/cart'); loadCart()">
          Cart
        </button>
      </li>
    </ul>
  </nav>
  <div class="header-right">
    <a (click)="navigateTo('/cart')" class="icon-link">
      <span class="material-icons">shopping_bag</span>
      <span class="cart-badge" *ngIf="cartItemCount > 0">{{
        cartItemCount
      }}</span>
    </a>
    <a routerLink="/profile" class="icon-link">
      <span class="material-icons">person</span>
    </a>
  </div>
</header>
